# Supabase
REACT_APP_SUPABASE_URL=https://wampborlfglfrqlrvfht.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndhbXBib3JsZmdsZnJxbHJ2Zmh0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzY3OTM0MjYsImV4cCI6MjA1MjM2OTQyNn0.ZS54zJIB38VOxAsor-_IW81DTDBlvo6fElKZn0K9-fQ

# OpenAI
REACT_APP_OPENAI_API_KEY=your_openai_api_key
